.qc-form-recherche {

    padding: 0 0 1rem 0;
    
    button {
        background-color: white;
        border: 1px solid #dee2e6;
        border-left: none;
        &:hover {
            border: 1px solid #dee2e6;
            border-color: var(--bs-btn-hover-border-color);

        }
    }

    &--body {
        button {
            background-color: #095797;;

            &:hover {
                background-color: #2669a0;

            }
        }
    }
}