.qc-form-recherche {

    padding-bottom: 1rem;
    
    button {
        background-color: white;
        border: 1px solid #dee2e6;
        border-left: none;
        &:hover {
            border: 1px solid #dee2e6;

        }
    }

    &--body {
        padding:1.5rem 0.8rem 1.5rem 0.8rem;
        background-color: #f2f1f1;

        button {
            background-color: #095797;;

            &:hover {
                background-color: #2669a0;

            }
        }
    }
}